.add-post {
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;

  background-color: $secondary;
  box-shadow: 0 15px 25px rgba($black, .45);
  border-radius: 5px;

  @include breakpoint($mobile-bp) {
    padding: 1.5rem;
  }

}

.add-post__form {
  display: flex;
  align-items: center;
}

.add-post__textarea {
  display: block;
  flex-grow: 1;
  height: 2.5rem;
  border: none;
  resize: none;
  background: transparent;
  overflow: hidden;
  font-size: 1.5rem;
  font-family: inherit;
  color: $white;

  &::placeholder {
    color: #D2D2D2;
  }

}

.add-post__send,
.add-post__file {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  cursor: pointer;
  border: none;

  border-radius: 50%;
  transition: background-color .15s linear;

  @include breakpoint($mobile-bp) {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.add-post__form-actions {
  width: 12rem;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;

  @include breakpoint($mobile-bp) {
    width: 9rem;
  }

}

.add-post__file {
  background: #EBEBEB url("../../images/photo-btn.svg") center no-repeat;

  input {
    display: none;
  }

  &:hover {
    background-color: darken(#EBEBEB, 7%);
  }
}

.add-post__send {
  margin-left: 1.5rem;
  background-color: $blue;

  &:hover {
    background-color: darken($blue, 7%);
  }
}
