.header {
  display: flex;
  width: calc(100% - #{$sidebar-width});

  background-color: #0D0D0D;
  box-shadow: 0 5px 22px rgba($black, .25);

  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-header;

  @include breakpoint($tablet-bp) {
    width: 100%;
  }

}

.header__left {
  width: 60%;

  @include breakpoint($tablet-bp) {
    width: 40%;
  }

}

.header__right {
  width: 60%;
  display: flex;
  justify-content: flex-end;

  @include breakpoint($tablet-bp) {
    width: 60%;
  }
}

.nav {

  &--mobile {
    display: none;
    margin: 3rem 0;
  }


  @include breakpoint($tablet-bp) {
    display: none;

    &--mobile {
      display: block;

    }
  }
}

.nav__list {
  display: flex;

  @include breakpoint($tablet-bp) {
    flex-direction: column;
  }
}

.nav__item {
  position: relative;

  &:hover {
    .nav__link {
      background-color: $blue;
    }
    >.subnav {
      display: block;
    }

  }
  @include breakpoint($tablet-bp) {
    &:hover {
      .nav__link {
        background: none;
      }
    }
  }

}

.nav__link {
  display: block;
  padding: 1.35rem;

  font-size: 1.1rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  transition: background-color linear .15s;

  &.has-subnav {
    position: relative;
    padding-right: 3.5rem;
    &:after {
      content: '';
      display: block;
      margin-top: 2px;

      position: absolute;
      top: 50%;
      right: 1.35rem;
      transform: translateY(-50%);

      border-width: 6px 5px 0 5px;
      border-style: solid;
      border-color: $white transparent transparent transparent;
    }
  }

  @include breakpoint($tablet-bp) {
    padding-left: 0;
    padding-right: 0;

    font-size: 1.5rem;
  }

}

.subnav {
  display: none;
  width: 16.5rem;
  padding: .5rem 0;
  background-color: $blue;
  box-shadow: 0 6px 8px rgba($black, .2);

  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;

  @include breakpoint($tablet-bp) {
    display: block;
    position: static;
    padding-left: 1rem;
    width: 100%;
    background: none;
    box-shadow: none;
  }

}

.subnav__link {
  display: block;
  padding: .45rem 1.2rem;
  font-size: 1.2rem;

  color: $white;
  text-decoration: none;
  transition: background-color .15s ease-in-out;

  &:hover {
    background-color: darken($blue, 7%);
  }

  @include breakpoint($tablet-bp) {
    padding-right: 0;
    padding-left: 0;

    font-size: 1.4rem;

    &:hover {
      background: none;
    }
  }
}

.search {
  width: 100%;
  max-width: 21rem;
  background-color: $primary;
}

.search__input {
  display: block;
  padding: 1.2rem 2rem;

  background: transparent;
  border: none;

  font-family: inherit;
  font-size: 1.2rem;
  color: $white;

  &::placeholder {
    color: rgba($white, .4);
  }

  @include breakpoint($tablet-bp) {
    height: 4rem;
    font-size: 1.6rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
  }
}
